// converted from HTML5 Boilerplate v2.0 - 12/01/2011

// Default colors
$h5bp-text-selection: #fe57a1 !default;
$h5bp-webkit-tap: #fe57a1 !default;
$h5bp-link: #0000ee !default;
$h5bp-link-hover: #0066ee !default;
$h5bp-link-visited: #551a8b !default;

// HTML5 ✰ Boilerplate
//
// What follows is the result of much research on cross-browser styling.
// Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
// Kroc Camen, and the H5BP dev community and team.
//
// Detailed information about this CSS: h5bp.com/css

@import "h5bp/display";
@import "h5bp/base";
@import "h5bp/selection";
@import "h5bp/links";
@import "h5bp/typography";
@import "h5bp/lists";
@import "h5bp/embeds";
@import "h5bp/figures";
@import "h5bp/forms";
@import "h5bp/tables";
