// ==========================================================================
// Base
// ==========================================================================

@mixin h5bp-base {
  // 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
  // 2. Force vertical scrollbar in non-IE
  // 3. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
  html {
    font-size: 100%;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%; }
  body {
    margin: 0;
    font-size: 14px;
    line-height: 1.4; }
  body, button, input, select, textarea {
    font-family: sans-serif;
    color: #222222; } }


