// ==========================================================================
// HTML5 display definitions
// ==========================================================================

@mixin h5bp-display {
  article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block; }
  audio, canvas, video {
    display: inline-block;
    *display: inline;
    *zoom: 1; }
  audio:not([controls]) {
    display: none; }
  [hidden] {
    display: none; } }

