// ==========================================================================
// Embedded content
// ==========================================================================

@mixin h5bp-embeds {
  // 1. Improve image quality when scaled in IE7: h5bp.com/d
  // 2. Remove the gap between images and borders on image containers: h5bp.com/e
  img {
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle; }
  // Correct overflow displayed oddly in IE9
  svg:not(:root) {
    overflow: hidden; } }

