// ==========================================================================
// Forms
// ==========================================================================

@mixin h5bp-forms {
  form {
    margin: 0; }
  fieldset {
    border: 0;
    margin: 0;
    padding: 0; }
  // Indicate that 'label' will shift focus to the associated form element
  label {
    cursor: pointer; }
  // 1. Correct color not inheriting in IE6/7/8/9
  // 2. Correct alignment displayed oddly in IE6/7
  legend {
    border: 0;
    *margin-left: -7px;
    padding: 0; }
  // 1. Correct font-size not inheriting in all browsers
  // 2. Remove margins in FF3/4 S5 Chrome
  // 3. Define consistent vertical alignment display in all browsers
  button, input, select, textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle; }
  // 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
  // 2. Correct inner spacing displayed oddly in IE6/7
  button, input {
    line-height: normal; }
  // 1. Display hand cursor for clickable form elements
  // 2. Allow styling of clickable form elements in iOS
  button, input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
    *overflow: visible; }
  // Consistent box sizing and appearance
  input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0; }
  input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box; }
  input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }
  // Remove inner padding and border in FF3/4: h5bp.com/l
  button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0; }
  // 1. Remove default vertical scrollbar in IE6/7/8/9
  // 2. Allow only vertical resizingtextarea
  textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical; }
  // Colors for form validity
  input:invalid, textarea:invalid {
    background-color: #f0dddd; } }

