// ==========================================================================
// Lists
// ==========================================================================

@mixin h5bp-lists {
  ul, ol {
    margin: 1em 0;
    padding: 0 0 0 40px; }
  dd {
    margin: 0 0 0 40px; }
  nav ul, nav ol {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0; } }

