// ==========================================================================
// Tables
// ==========================================================================

@mixin h5bp-tables {
  table {
    border-collapse: collapse;
    border-spacing: 0; }
  td {
    vertical-align: top; } }

