// ==========================================================================
// Typography
// ==========================================================================

@mixin h5bp-typography {
  abbr[title] {
    border-bottom: 1px dotted; }
  b, strong {
    font-weight: bold; }
  blockquote {
    margin: 1em 40px; }
  dfn {
    font-style: italic; }
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0; }
  ins {
    background: #ffff99;
    color: black;
    text-decoration: none; }
  mark {
    background: yellow;
    color: black;
    font-style: italic;
    font-weight: bold; }
  // Redeclare monospace font family: h5bp.com/j
  pre, code, kbd, samp {
    font-family: monospace, monospace;
    _font-family: "courier new", monospace;
    font-size: 1em; }
  // Improve readability of pre-formatted text in all browsers
  pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word; }
  q {
    quotes: none;
    &:before, &:after {
      content: "";
      content: none; } }
  small {
    font-size: 85%; }
  // Position subscript and superscript content without affecting line-height: h5bp.com/k
  sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline; }
  sup {
    top: -0.5em; }
  sub {
    bottom: -0.25em; } }

