<h1>Welcome</h1>
<p>This is an example style guide. It doesn't really do anything, but it does have some rad buttons</p>
<p><button>I am a button</button></p>
<p>Check out the <a href="/styleguide/05_buttons.html">Button styleguide</a> to see the value here.</p>

<figure>
  <img src="<%= lorem.image('480x320') %>" alt="" />
  <figcaption>An image</figcaption>
</figure>

<% 5.times do %>
  <p><%= lorem.paragraph %></p>
<% end %>
